<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sandrios.sandriosCamera">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application>
        <activity
            android:name=".internal.ui.camera.Camera1Activity"
            android:screenOrientation="portrait"
            android:theme="@style/ThemeFullscreen" />
        <activity
            android:name=".internal.ui.camera2.Camera2Activity"
            android:screenOrientation="portrait"
            android:theme="@style/ThemeFullscreen" />
        <activity
            android:name=".internal.ui.preview.PreviewActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ThemeFullscreen" />
        <activity
            android:name=".internal.ui.BaseSandriosActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ThemeFullscreen" />

        <activity
            android:name="com.yalantis.ucrop.UCropActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ThemeFullscreen.Crop" />
    </application>

</manifest>